.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo img {
    height: 110px;
}

.search-container {
    flex-grow: 0.5;
    display: flex;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.cart-icon {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FF8C00;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}



/* Mobile Responsive view  */

@media screen and (max-width: 768px) {
    .main-header {
        flex-wrap: wrap;
        padding: 10px 3%;
    }

    /* .logo {
        order: 1;
    } */

    .logo img {
        height: 80px;
    }

    .header-icons {
        order: 2;
    }

    .search-container {
        order: 3;
        flex-basis: 100%;
        margin-top: 15px;
    }

    .search-container input {
        padding: 8px 15px;
    }
}